<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>Controllers.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korisnici</servlet-name>
        <servlet-class>Controllers.Korisnici</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreiranjeTeretane</servlet-name>
        <servlet-class>Controllers.KreiranjeTeretane</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeretane</servlet-name>
        <servlet-class>Controllers.EditTeretane</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeTeretane</servlet-name>
        <servlet-class>Controllers.BrisanjeTeretane</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreiranjePrograma</servlet-name>
        <servlet-class>Controllers.KreiranjePrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPrograma</servlet-name>
        <servlet-class>Controllers.EditPrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjePrograma</servlet-name>
        <servlet-class>Controllers.BrisanjePrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKorisnika</servlet-name>
        <servlet-class>Controllers.EditKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTreninga</servlet-name>
        <servlet-class>Controllers.EditTreninga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeTreninga</servlet-name>
        <servlet-class>Controllers.BrisanjeTreninga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreiranjeTreninga</servlet-name>
        <servlet-class>Controllers.KreiranjeTreninga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreiranjeRezervacije</servlet-name>
        <servlet-class>Controllers.KreiranjeRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeRezervacije</servlet-name>
        <servlet-class>Controllers.BrisanjeRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediProfil</servlet-name>
        <servlet-class>Controllers.proslediProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unosPodataka</servlet-name>
        <servlet-class>Controllers.unosPodataka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPodataka</servlet-name>
        <servlet-class>Controllers.EditPodataka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjePodataka</servlet-name>
        <servlet-class>Controllers.BrisanjePodataka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Naplacivanje</servlet-name>
        <servlet-class>Controllers.Naplacivanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromeniLozinku</servlet-name>
        <servlet-class>Controllers.PromeniLozinku</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korisnici</servlet-name>
        <url-pattern>/Korisnici</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreiranjeTeretane</servlet-name>
        <url-pattern>/KreiranjeTeretane</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeretane</servlet-name>
        <url-pattern>/EditTeretane</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeTeretane</servlet-name>
        <url-pattern>/BrisanjeTeretane</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreiranjePrograma</servlet-name>
        <url-pattern>/KreiranjePrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPrograma</servlet-name>
        <url-pattern>/EditPrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjePrograma</servlet-name>
        <url-pattern>/BrisanjePrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKorisnika</servlet-name>
        <url-pattern>/EditKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTreninga</servlet-name>
        <url-pattern>/EditTreninga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeTreninga</servlet-name>
        <url-pattern>/BrisanjeTreninga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreiranjeTreninga</servlet-name>
        <url-pattern>/KreiranjeTreninga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreiranjeRezervacije</servlet-name>
        <url-pattern>/KreiranjeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeRezervacije</servlet-name>
        <url-pattern>/BrisanjeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediProfil</servlet-name>
        <url-pattern>/proslediProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unosPodataka</servlet-name>
        <url-pattern>/unosPodataka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPodataka</servlet-name>
        <url-pattern>/EditPodataka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjePodataka</servlet-name>
        <url-pattern>/BrisanjePodataka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Naplacivanje</servlet-name>
        <url-pattern>/Naplacivanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromeniLozinku</servlet-name>
        <url-pattern>/PromeniLozinku</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
